body{
  background-color:#a8d5e6;
}
p{
  color:#8a65b8;font-family:courier;
}
.middle{
  text-align:center;
}
.important{
  font-size:300%;
}
.review{
  background-color:white; border:5px solid green;
}
.format{
  font-weight:bold;
}
